body {
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 40px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  /* .sidebar {
    top: 0rem;
  } */
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: 15px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #52b6e0;
}

/* .sidebar .nav-link:hover .feather {
  color: white;
} */
.sidebar .nav-link.active .feather {
  color: black;
}

.sidebar-heading {
  font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #52b6e0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

header {
  background-color: #52b6e0;
}

#sidebarmenu:hover {
  background-color: #52b6e0;
}

/* carousel */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Developer */
* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #fff;
  background: #4285f4;
}
.wrapper {
  width: 370px;
  margin: 0 auto 0;
}
.select-btn,
li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn {
  height: 45px;
  padding: 0 20px;
  font-size: 15px;
  background: white;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.select-btn i {
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}
.content {
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: white;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.wrapper.active .content {
  display: block;
}
.content .search {
  position: relative;
}
.search i {
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #b3b3b3;
}
.search input:focus {
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder {
  color: #bfbfbf;
}
.content .options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar {
  width: 7px;
}
.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
.options li {
  height: 45px;
  padding: 0 13px;
  font-size: 15px;
}
.options li:hover,
li.selected {
  border-radius: 5px;
  background: #f2f2f2;
}

#tombolloginprofil:hover {
  background-color: #54b435;
}

.cardcss {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


body {
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 40px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 0rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: 15px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #52b6e0;
}

/* .sidebar .nav-link:hover .feather {
  color: white;
} */
.sidebar .nav-link.active .feather {
  color: black;
}

.sidebar-heading {
  font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #52b6e0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

header {
  background-color: #52b6e0;
}

#sidebarmenu:hover {
  background-color: #52b6e0;
}

/* carousel */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Developer */
* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: #fff;
  background: #4285f4;
}
.wrapper {
  width: 370px;
  margin: 0 auto 0;
}
.select-btn,
li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn {
  height: 45px;
  padding: 0 20px;
  font-size: 15px;
  background: white;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.select-btn i {
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i {
  transform: rotate(-180deg);
}
.content {
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: white;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.wrapper.active .content {
  display: block;
}
.content .search {
  position: relative;
}
.search i {
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #b3b3b3;
}
.search input:focus {
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder {
  color: #bfbfbf;
}
.content .options {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar {
  width: 7px;
}
.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
.options li {
  height: 45px;
  padding: 0 13px;
  font-size: 15px;
}
.options li:hover,
li.selected {
  border-radius: 5px;
  background: #f2f2f2;
}

.dropdown-item:hover {
  background-color: #52b6e0;
}

#tombolexitprofil:hover {
  background-color: #ff1e1e;
}
#tombolsettingprofil {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  #tombolsettingprofil {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 340px;
  }
}

@media screen and (max-width: 500px) {
  #tombolsettingprofil {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
  }
}

@media screen and (max-width: 420px) {
  #tombolsettingprofil {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 160px;
  }
}

@media screen and (max-width: 400px) {
  #tombolsettingprofil {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
  }
}

.tableinfoprofil {
  font-size: 16px;
}

.btneditprofil {
  color: #52b6e0;
  background-color: white;
  border-radius: 20px;
}
.btneditprofil:hover {
  color: white;
  border-color: white;
  background-color: #52b6e0;
}
.btneditpass{
  color: white;
  background-color: #52b6e0;
  border-radius: 20px;
  border-color: white;
}
.btneditpass:hover{
  color: #52b6e0;
  border-color: #52b6e0;
  background-color: white;
}
#tdsebelahkiri {
  color: #727272;
}

.btnbatalprofil {
  border-radius: 20px;
}


#carddataprofil{
  background-color: #52b6e0;
  border-radius: 5px;
  color: white;
}

#formregister{
  padding: 100px;
}